.chat-input {
    width: 100%;
}

.chat-input .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-base-2);  
    border-radius: var(--radius);
    padding: 0.5em;
    padding-bottom: 0.2em;
    margin: 0.75em;
    box-shadow: 0 2px 3px var(--color-shadow-color);
}

.chat-input .tool-bar {
    margin-top: 0.2em;
        padding-top: 0.2em;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--color-base-hover);
}

.chat-input textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.3em;
    background-color: var(--color-base-2);
    resize: none;
}

.chat-input .settings {
    flex-grow: 1;
    display: flex;
}

.chat-input .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 1.8em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-radius: var(--radius-round);
}

.chat-input .dropdown svg:first-child {
    padding-right: 0.5em;
}

.chat-input .dropdown svg:last-child {
    padding-left: 0.5em;
}

.chat-input .dropdown:hover {
    background-color: var(--color-contrast-gray);
}

.chat-input .action {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 1.8em;
    height: 1.8em;
    border-radius: var(--radius-round);
}

.chat-input .action:hover {
    background-color: var(--color-contrast-gray);
}
