/* Based on: https://paletton.com/#uid=73L1-0koVn+fbvUkhrcs2juygei
 * Accent (yellow) has increased saturation by 15 in paletton.
 */
:root {
  color-scheme: light dark;
  /* DARK Color Scheme */
  /* Base (combines with all colors) */
  --color-base-c: #ffffff;
  --color-base-c-hover: #d3d3d3;
  --color-base: #201E1E;
  --color-base-1: #252121;
  --color-base-2: #302E2E;
  --color-base-hover: #403E3E;
  --color-base-hover-2: #504E4E;
  --color-base-font: #ffffff;
  --color-base-font-hover: #d3d3d3;
  --color-base-transparent: #333333BB;
  --color-base-transparent-2: #55555555;
  --color-base-disabled: #999999;
  /* Brand (combines with all font colors and brand-c) */
  --color-brand-c: #ffffff;
  --color-brand: #071C4C;
  --color-brand-selected: #162F68;
  --color-brand-hover: #031233;
  --color-brand-font: #6278AA;
  --color-brand-font-hover: #3F5891;
  --color-brand-font-dark: #6278AA;
  /* Accent */
  --color-accent-c: #ffffff;
  --color-accent: #E4A525;
  --color-accent-selected: #F3BE54;
  --color-accent-hover: #BC810D;
  --color-accent-font: #E4A525;
  --color-accent-font-hover: #BC810D;
  /* Bad */
  --color-bad-c: #ffffff;
  --color-bad: #A52556;
  --color-bad-selected: #BB4573;
  --color-bad-hover: #86113E;
  --color-bad-font: #BB4573;
  --color-bad-font-hover: #A52556;
  /* Good */
  --color-good-c: #ffffff;
  --color-good: #6FAD26;
  --color-good-selected: #8BC548;
  --color-good-hover: #548D11;    
  --color-good-font: #8BC548;
  --color-good-font-hover: #6FAD26;
  /* Other */
  --color-subtle-gray: #302E2E;
  --color-contrast-gray: #7e7e7e;
  --color-shadow-color: rgba(0, 0, 0, 0.5);
  --color-debug: #e100ff;
  --radius: 0.3em;
  --radius-large: 0.5em;
  --radius-round: 9999em;
  color: var(--color-base-c);
  fill: var(--color-base-c);
  background-color: var(--color-base);
}

@media (prefers-color-scheme: light) {
  :root {
    /* LIGHT Color Scheme */
    --color-base-c: #201E1E;
    --color-base-c-hover: #302E2E;
    --color-base: #ffffff;
    --color-base-1: #f8f8f8;
    --color-base-2: #efefef;
    --color-base-hover: #d3d3d3;
    --color-base-hover-2: #c3c3c3;
    --color-base-font: #201E1E;
    --color-base-font-hover: #302E2E;
    --color-base-transparent: #ffffffBB;
    --color-base-transparent-2: #55555555;
    --color-brand-font-dark: #071C4C;
    --color-subtle-gray: #efefef;
    --color-contrast-gray: #AAAAAA;
    --color-shadow-color: rgba(0, 0, 0, 0.15);
    color: var(--color-base-c);
    fill: var(--color-base-c);
    background-color: var(--color-base);
  }
}
