#app {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }

.centerChildren {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.disabled {
  background-color: var(--color-contrast-gray) !important;
}

.good {
  color: var(--color-good-c) !important;
  background-color: var(--color-good) !important;
}

.good:hover {
  background-color: var(--color-good-hover) !important;
}

.bad {
  color: var(--color-bad-c) !important;
  background-color: var(--color-bad) !important;
}

.bad:hover {
  background-color: var(--color-bad-hover) !important;
}