.dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: var(--color-base);
    border-radius: var(--radius);
    box-shadow: 0 4px 8px var(--color-shadow-color);
    z-index: 1000; /* Ensure it stays above other elements */
    list-style-type: none;
    padding: 0.1em;
    margin: 0;
}

.dropdown-menu-button {
    display: block;
    padding: 0.45em 0.6em;
    cursor: pointer;
    border-radius: var(--radius);
    fill: var(--color-base-c);
    color: var(--color-base-c);
}

.dropdown-menu-button:hover {
    background-color: var(--color-base-hover);
}

.dropdown-menu-grayout {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-base-transparent-2);
    z-index: 1;
}