/** Button */
.button,
.buttonLarge,
.buttonWide,
.buttonNarrow {
  cursor: pointer;
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em;
  color: var(--color-brand-c);
  fill: var(--color-brand-c);
  background-color: var(--color-brand);
  border-radius: var(--radius);
}

.button:hover,
.buttonLarge:hover,
.buttonWide:hover,
.buttonNarrow:hover {
  background-color: var(--color-brand-hover);
}

.buttonLarge {
  padding: 2em;
}

.buttonWide {
  width: -webkit-fill-available;
  display: block;
}

.buttonNarrow {
  width: 30%;
  display: inline-block;
}

.buttonBad {
  background-color: var(--color-bad);
}

.buttonBad:hover {
  background-color: var(--color-bad-hover);
}

/** Form */
.form {
  width: -webkit-fill-available;
  display: block;
}

/** FormInput */
.formInput {
  cursor: pointer;
  width: -webkit-fill-available;
  display: block;
  padding: 0.5em;
  border: 0px solid;
  border-bottom: 1px solid;
  border-radius: var(--radius);
}

/** FormTextArea*/
.formTextArea {
  cursor: pointer;
  width: -webkit-fill-available;
  display: block;
  padding: 0.5em;
  border: 1px solid;
  border-radius: var(--radius);
}

/** FormRadioButton */
.formRadioButton {

}

/** FormRadioButtonGroup */
.formRadioButtonGroup {
}

/** FormLabel */
.formLabel {
  width: -webkit-fill-available;
  display: block;
  margin-top: 1em;
  padding: 0.5em;
}

/** FormCheckbox */
.formCheckbox {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  display: block;
  align-items: center;
  height: 1.5em;
}

.formCheckbox input {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}

.formCheckbox label {
    display: inline-block;
    height: 1.5em;
    padding-top: 0;
    padding-bottom: 1em;;
}

/** FormDropdown */
.formDropdown {
}

.formDropdownElement {

}