.master-detail-view {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.master-detail-view .master {
  display: inline-block;
  height: 100%;
  background-color: var(--color-base-2);
}

.master-detail-view .detail {
    display: inline-block;
    height: 100%;
    border-left-color: var(--color-base-2);
    border-left-width: 10px;
    border-left-style: solid;
    border-right-color: var(--color-base-2);
    border-right-width: 10px;
    border-right-style: solid;
}

.master-detail-view .sidepanel {
    display: inline-block;
    height: 100%;
    background-color: var(--color-base-2);
}