.navbar {
    display: flex;
    height: 2.5em;
    background-color: var(--color-brand);
    color: var(--color-brand-c);
    fill: var(--color-brand-c);
    font-size: 1.2em;
    text-align: center;
}

.navbar-button {
    display: inline-block;
    font-size: 1.5em;
    margin-top: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: var(--radius);
    background-color: var(--color-brand);
    color: var(--color-brand-c);
    fill: var(--color-brand-c);
}

.navbar-button:hover {
    background-color: var(--color-brand-hover);
}

.navbar-header {
    height: 2.5em;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomNavbar {
    width: -webkit-fill-available;
    display: block;
    top: 0;
    height: 3.5em;
    left: 0;
    right: 0;
    text-align: center;
}

.bottomNavbarButton {
    display: inline-block;
    font-size: 1em;
    padding-left: 0.2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-right: 0.2em;
    margin: 0.1em;
    border-radius: var(--radius);
    color: var(--color-base-font);
}

.bottomNavbarButton:hover {
    background-color: var(--color-base-hover);
}

.bottomNavbarIcon {
    display: block;
    font-size: 0.5em;
}

.bottomNavbarText {
    display: block;
    font-size: 0.5em;
}


.bottomNavbarButton {
    display: inline-block;
    font-size: 2.2em;
    padding-left: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0em;
    padding-right: 0.4em;
    margin: 0.1em;
    border-radius: var(--radius);
}