.chat {
    display: flex;
    flex-direction: column;
    /* Change this line */
    width: 100%;
    height: 100%;
}

.chat-header {
    display: flex;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
}

.chat .fill-width {
    flex-grow: 1;
    display: flex;
}

.chat .main-header {
    font-size: 1.2em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.chat .centered-text {
    justify-content: center;
    align-items: center;
}

.chat .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 1.8em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-radius: var(--radius-round);
}

.chat .dropdown svg:first-child {
    padding-right: 0.5em;
}

.chat .dropdown svg:last-child {
    padding-left: 0.5em;
}

.chat .dropdown:hover {
    background-color: var(--color-contrast-gray);
}

.chat .action {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 1.8em;
    height: 1.8em;
    border-radius: var(--radius-round);
}

.chat .with-text {
    width: auto;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.chat .with-text svg:first-child {
    padding-right: 0.5em;
}

.chat .action:hover {
    background-color: var(--color-contrast-gray);
}

.removableItem {
    align-content: center;
    text-align: center;
    line-height: 1.8em;
    padding: 0.2em;
    height: 2em;
    border-radius: var(--radius);
}

.removableItem:hover {
    background-color: var(--color-base-hover);
}